@import "../../styles/commons.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .col1 {
    background: $themeColor-Light;
    width: 400px;
    

    .viz-title {
      font-size: 16px;
      font-weight: 400;
      text-indent: 20px;
      padding: 20px 0 0 0;
      margin: 0 0 20px 0;
      font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    }

    .left-box {
      background: #fff;
      height: auto;
      padding-bottom: 60px;
      margin: 20px;
      position: relative;
      

      ul {
        margin: 5px 20px 0 20px;
        padding: 0;
        list-style-type: none;

        li {
            h4 {
                margin: 5px 0;
                padding: 0;
                font-weight: 300;
                color: #4d4d4d;
                text-transform: uppercase;
                font-family: sans-serif;
                //font-family: 'Franklin Gothic Light', 'Arial' sans-serif;
            }
            p {
                margin: 5px 0;
                padding: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
            }
        }

      }
      box-shadow: 0 2px 0px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.14);
      //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }

  }
  .col2 {
    //width: 600px;
    flex-grow: 1;
    background: fff;
    //order: -1;

    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
  }
}
