@import "../../styles/commons.scss";

.d3-tip {
  font-size: 13px;
  line-height: 0.4;
  font-weight: bold;
  padding: 12px 12px;
  color: fff;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 0.7;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .col1 {
    background: $themeColor-Light;
    width: 400px;

    .viz-title {
      font-size: 16px;
      font-weight: 400;
      text-indent: 20px;
      padding: 20px 0 0 0;
      margin: 0 0 20px 0;
      font-family: "Franklin Gothic Medium", "Arial", Arial, sans-serif;
    }

    .left-box {
      background: #fff;
      height: auto;
      padding-bottom: 60px;
      margin: 20px;
      position: relative;

      ul {
        margin: 5px 20px 0 20px;
        padding: 0;
        list-style-type: none;

        li {
          h4 {
            margin: 5px 0;
            padding: 0;
            font-weight: 300;
            color: #4d4d4d;
            text-transform: uppercase;
            font-family: sans-serif;
            //font-family: 'Franklin Gothic Light', 'Arial' sans-serif;

            span {
              width: 13px;
              height: 13px;
              display: inline-block;
              background: orange;
              border-radius: 50%;
              vertical-align: sub;
              margin: 0 5px 0 0;

              &.restorative {
                background: #ff7f0e;
              }
              &.fascination {
                background: #2ca02c;
              }
              &.stimulation {
                background: #1f77b4;
              }
              &.power {
                background: #d62728;
              }
            }
          }
          p {
            margin: 5px 0 8px 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }
      box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.14);
      //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

      &:hover {
        box-shadow: 0 14px 20px rgba(0, 0, 0, 0.10), 0 5px 5px rgba(0, 0, 0, 0.10);

        //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    }
  }
  .col2 {
    //width: 600px;
    flex-grow: 1;
    background: fff;
    //order: -1;

    .container {
      width: 100%;
      margin: 0 auto;
      text-align: center;

      svg {
        background: #fff;
        circle {
          cursor: pointer;
        }
        text {
          font-family: sans-serif;
          fill: dimgray;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.1em;
          opacity: 1;
        }
      }
    }
  }
}
