.col3 {
    width: 400px;
    //background: rgb(243, 243, 243);
    background: #202024 url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif) repeat left top;
    background-size: 18px 18px;

    .inner {
      padding: 20px;
      color: #fff;
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 400;
        }

        h4 {
            margin: 0 0 5px 0;
        }

        form {

            margin: 0 0 20px 0;
            .dd-bloc {
                margin: 10px 20px 0 0;
    
                h5 {
                    font-size: 12px;
                    //width: 110px;
                    //float: left;
                    //line-height: 2.6;
                }
    
                .custom-dropdown {
                    margin: 5px 10px 0 0;
                }
            }
        }

        .btnGroups {

            button {
                width: 80px;
                height: 25px;
                border-radius: 5px;
                font-size: 12px;
                margin: 10px 15px 20px 0px;
            }

        }

        .video_details {
            margin: 20px 0;
            opacity: 0.6;
            font-size: 12px;

            ul {
                
                list-style-type: none;
                li {
                    p {
                        margin: 10px 20px 0 0;
                    }
                }
            }
        }

       
    }
  }